@import './variables';

.link() {
    color: @color--primary;

    &:hover {
        text-decoration: underline;
    }
}

.ellipsis(@n) {
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: @n;
    -webkit-box-orient: vertical;
    max-height: (1.4em * @n);
}
