@import './variables';

/* -----------------------------------------------------------------------------
  ROOT ELEMENTS

----------------------------------------------------------------------------- */

html,
body {
    // IN critical CSS
    //margin: 0;
    //padding: 0;
    height: 100%;
}

body {
    color: @color--default;
    // IN critical CSS
    //background-color: #fff;
    font-family: @font-family--default;
    font-size: @font-size;
    line-height: @line-height;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: @font-size--xxlarge;
}

a {
    text-decoration: none;
    color: inherit;
}

.link {
    color: @color--secondary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
