/**
 * Layout
 */
@fullhd-width-min: 1600px;
@fullhd-width-max: (@fullhd-width-min - 1);
@container-width: 1180px;
@laptop-width-min: 1280px;
@laptop-width-max: (@laptop-width-min - 1);
@tablet-horizontal-width-min: 1024px;
@tablet-horizontal-width-max: (@tablet-horizontal-width-min - 1);
@tablet-width-min: 768px;
@tablet-width-max: (@tablet-width-min - 1);
@mobile-width-min: 640px;
@mobile-width-max: (@mobile-width-min - 1);
@mobile-width-small-min: 414px; // iPhone 6+
@mobile-width-small-max: (@mobile-width-small-min - 1);



/**
 * Container
 */
@desktop-container-padding: 20px;
@tablet-container-padding: 15px;
@mobile-container-padding: 10px;



/**
 * Mobile menu
 */
@mobile-menu-width-min: @tablet-horizontal-width-max;



/**
 * Menubar
 */
@menubar-height: 100px;



/**
 * Fonts
 */
@font-family--default: 'Arial', sans-serif;
@font-family--primary: 'Lato', sans-serif;
@font-size--xxsmall: 11px;
@font-size--xsmall:  12px;
@font-size--small:   14px;
@font-size:          15px;
@font-size--smedium: 16px;
@font-size--medium:  18px;
@font-size--large:   22px;
@font-size--xlarge:  28px;
@font-size--xxlarge: 36px;

@line-height: 1.5;


/**
 * Colors
 */
@color--default: #606060;
@color--primary: #f8713b;
@color--secondary: #0092a9;
@color--facebook: #2e4da7;
@color--twitter: #07a3f4;
@color--google-plus: #ce4136;



/**
 * Buttons
 */
@btn-color: #fff;
@btn-background: @color--primary;
@btn-padding: 10px 15px;
@btn-padding--small: 7px 12px;
@btn-padding--large: 12px 17px;
@btn-padding--big: 15px 20px;
@btn-group-margin: 7px;
@btn-radius: 2px;



/**
 * Z indexes
 */
@z-hidden: -1;
@z-overlay: 1000;
@z-max: 16200;



/**
 * Margins
 */
@margin-values: 0, 5, 10, 15, 20, 25, 30, 40, 50;


/**
 * Content
 */
@content-sidebar-width: 250px;
