@import '../variables';

.btn {
    display: inline-block;
    padding: @btn-padding;
    border: none;
    border-radius: @btn-radius;
    line-height: 1; // Normalize default button line-height
    vertical-align: top; // Trick to get rid off underneath space in div because of inline-block

    /**
     * Default button style
     */
    color: @btn-color;
    background: @btn-background;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.btn--secondary {
    background-color: @color--secondary;
}

.btn--blank {
    background: transparent;
    color: @color--primary;
}

.btn--facebook {
    background: @color--facebook;
}

.btn--twitter {
    background: @color--twitter;
}

.btn--google-plus {
    background: @color--google-plus;
}

.btn--block {
    width: 100%;
}

.btn--big {
    padding: @btn-padding;
}

.btn--large {
    padding: @btn-padding--large;
}

.btn--small {
    padding: @btn-padding--small;
}

.btn--no-radius {
    border-radius: 0;
}

.btn-group {
    display: flex;

    .btn:not(:last-child) {
        margin-right: @btn-group-margin;
        margin-bottom: @btn-group-margin;
    }

    &--column {
        flex-direction: column;

        .btn:not(:last-child) {
            margin-right: 0;
        }
    }
}
