@import '../variables';

.card {
    display: block;
    border: solid 1px #d4d4d4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    transition: all .3s ease;
    word-wrap: break-word;

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    }
}

.card__inner {
    padding: 20px 20px 16px; // 16px bottom because of line height of text
}

.card__image-wrapper {
    position: relative;
    display: block;
    padding-bottom: percentage(9/16);
    overflow: hidden;
}

.card__image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 10;
    transform: translateX(-50%);
}

.card__title {
    margin-top: 0;
    font-size: @font-size--large;
}

.card__content {
    color: #818181;
    line-height: 1.57;
}

.card__meta {
    margin-top: 20px;
    color: #9a9a9a;
    font-size: @font-size--xsmall;
}
