.checkbox {
    display: inline-block;

    &:hover {
        cursor: pointer;
    }
}

.checkbox__input {
    display: none;

    &:checked {

        & + .checkbox__box {
            border-color: @color--secondary;
            background-color: @color--secondary;

            &:before {
                position: absolute;
                top: 50%;
                left: 4px;
                transform: translateY(-50%);
                color: #fff;
                font-size: 10px;
            }
        }
    }
}

.checkbox__box {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    border: 1px solid #9ba0a2;
    border-radius: 2px;
    vertical-align: middle;

    background-color: transparent;
    transition: all .3s ease;
}

.checkbox__label {
    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }
}
