.content {
    display: flex;
    padding-top: 30px;
}

.content__side {
    width: @content-sidebar-width;
    flex: 0 0 @content-sidebar-width;

    @media (max-width: @tablet-width-max) {
        display: none;
    }
}

.content__main {
    flex: 1;
}
