.form {
    margin-bottom: -25px;
}

.form__group {
    display: block;
    margin-bottom: 25px;
}

.form__label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 11px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 7px 10px;;
    border: 1px solid #9ba0a2;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: 0 0 5px transparent;
    appearance: none;
    transition: all .3s ease;

    &:active,
    &:focus {
        outline: none;
        box-shadow: 0 0 7px rgba(0,0,0,.15);
    }
}
