.header {
    display: flex;
    align-items: center;
}

.header__center {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

.header__left,
.header__right {
    flex: 1 1 100%;
}

.header__right {
    display: flex;
    justify-content: flex-end;
}
