.heading {
    position: relative;
    margin-bottom: 25px;

    &:after {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #e1e1e1;
        z-index: 0;
        content: '';
    }
}

.heading__title {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    margin: 0;
    background: #fff;
    font-size: @font-size--large;
    font-weight: 400;
    z-index: 1;

    @media (max-width: @mobile-width-max) {
        font-size: 20px;
    }
}
