


/**
 * Default icomoon colors
 */
.icon-delete,
.icon-search,
.icon-profile {
    color: @color--primary;
}

.icon-close {
    color: #4A4A4A;
}



/**
 * Custom NON-SVG icons
 */
.icon {
    display: inline-block;
}

.icon--arrow-right {
    width: 16px;
    height: 9px;
    background: url(/images/icon-arrow-right.png) no-repeat ~"center/contain";
}

.icon--profile {
    width: 21px;
    height: 21px;
    background: url(/images/icon-profile.svg) no-repeat ~"center/contain";
}

/**
 * Icons in SPRITE
 */
.sprite(@arguments) {
    background-image: url(/images/sprite.png);
    background-repeat: no-repeat;
    background-position: @arguments;
    background-size: 500px 500px;
}

.i {
    display: inline-block;
    vertical-align: middle;

    &--top {
        width: 57px;
        height: 57px;
        .sprite(0 0);
    }

    &--sponsored {
        width: 84px;
        height: 24px;
        .sprite(-59px 0);
    }

    &--trending {
        width: 78px;
        height: 25px;
        .sprite(-65px -26px);
    }

    &--staff {
        width: 99px;
        height: 42px;
        .sprite(-145px 0);
    }

    &--premium {
        width: 73px;
        height: 78px;
        .sprite(-59px -53px);
    }

}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .i {
        background-image: url(/images/sprite@2x.png) !important;
    }
}
