.pagination {
    display: flex;
}

.pagination__item {

}

.pagination__link {

}

.pagination__prev {
    flex: 1;
}

.pagination__center {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__next {
    flex: 1;
    text-align: right;
}

.pagination__page {

}

.pagination__divider {
}
